.chatsroom-main {
    background-color: #abc1d1;
    height: 1100vh;
}

.header__icons :nth-child(1){
    padding-right: 5px;
}

.main-chat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chats__date {
    background-color: rgba(0,0,0,0.13);
    color: white;
    padding: 7px;
    border-radius: 13px;
    font-size: 13px;
    margin-bottom: 25px;
}

.chatsroom-main .screen-header {
    position: fixed;
    width: 100%;
    box-sizing: border-box;

/*position: fixed 설정하고 고정바 순서 정하는 코드 ::: z-index: n;*/
}

.chatsroom-main .header__title{
    display: flex;
    width: 33%;
    justify-content: center;
}

.alt-header__column{
    width: 33%;
}

.alt-header__column:nth-child(2){
    text-align: center;
}

.alt-header__column:last-child{
    display: flex;
    justify-content: flex-end;
} 

.main-chat {
    padding-top: 100px;
}

.message-row img{
    height:50px;
    width:50px;
    border-radius: 17px;
    margin:0px 10px;
}

.message-row {
    width: 100%;
    display: flex;
}

.message__author {
    display: block;
    margin-left: 5px;
    margin-bottom: 10px;
    color: rgba(0,0,0,0.5);
    font-size: 15px;
}
/*span이니끼 display: block; 으로 넓이 지정 */

.message__info {
    display: flex;
    align-items: flex-end;
    /*말풍선 옆 시간이 아래로 내려옴*/
}

.message__bubble {
    padding: 8px 10px;
    background-color: white;
    border-radius: 10px;
}

.message__time {
    color: rgba(0,0,0,0.5);
    font-size: 11px;
    margin-left: 3px;
}

