.find-icons{
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    border-bottom: 10px;
}

.find-icons div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.find-icons__icon i {
    padding-bottom: 10px;
}

.find-recommend {
    padding: 15px 0px;
    margin: 15px;
    border-top: 1px solid rgba(0,0,0,0.2);
    padding: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.find__notification{
    color: tomato;
    font-size:x-large;
    display: flex;
    position: absolute;
    right: 20px;
    top: 32px;
}

.find-recommend__content{
    color: rgba(0,0,0,0.4);
}

.find-recommend span{
    display: flex;
    margin: 100px 0px;
    justify-content: center;
}

.find-openchat {
    display: flex;
    justify-content: space-between;
    padding:0px 25px;
    color: rgba(0,0,0,0.4);
    margin-bottom: 35px;
}

.find-openchat__home {
    display: flex;
    justify-content: center;
}

.find-openchat__home h6{
    padding-right: 5px;
}

.open-post {
    display: flex;
    justify-content: column;
    padding: 10px 25px;
    margin: 15px;
    padding-top: 0px;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.open-post span{
    font-size: 15px;
    opacity: 0.5;
}

.open-post__profile img {
    height:20px;
    width: 20px;
    border-radius: 10px;
    margin-right: 5px;
}

.open-post__profile {
    align-items: center;
    display: flex;
    font-size: 10px;
}

.open-post__profile :nth-child(3){
    color:rgb(255, 1, 136);
    padding-left: 2px;
}

.open-post__img{
    height: 100px;
    width: 100px;
    border-radius: 10px;
}

.open-post__title {
    padding-bottom: 7px;
}

.open-post__text {
    padding-bottom: 10px;
    display: flex;
}

.open-post__profile span{
    font-size: 14px;
}

.open-post-heart {
    color: white;
    position:absolute;
    background-color: black;
    height: 20px;
    width: 40px;
    border-radius: 5px;
    font-size: 11px;
    right: 48px;
    bottom: 112px;
}